/* ============================================ */
/* ============ Start Global Rules ============ */
/* ============================================ */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    --muted-text-color: #64748B;
    --border-color: rgb(37 51 70 / 1);
    --nav-text-color: #94A3B8;
    --hovered-nav-text-color:#F8FAFC;
    --main-blue-color: #2575E4;
    --main-muted-blue-color: #1A5BB5;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #111821;
}
/* Start container */
.container {
    max-width: 1200px;
}
/* End container */
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* ============================================ */
/* ============= End Global Rules ============= */
/* ============================================ */
/* Start navbar section */
header {
    width: 100%;
    height: 61px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(17 24 33 / 0.8);
    backdrop-filter: blur(12px);
    border-bottom: 1px var(--border-color) solid;
    z-index: 100;

    & nav {
        height: 100%;
        padding: 12px 36px;
        display: flex;
        align-items: center;
        
        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            margin: 0 auto;

            & h2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
                font-size: 18px;
                font-weight: bold;

                & i.terminal {
                    font-size: 18px;
                    color: var(--main-blue-color); 
                    margin-right: 20px;
                }

            }
            
            & i.bars {
                display: none;
                font-size: 20px;
                color: white;
            }
            
            & div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                min-width: 250px;

                & ul.links {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 24px;
                    margin-right: 30px;

                    & li a {
                        color: var(--nav-text-color);
                        font-size: 14px;
                        font-weight: 500;
                        transition: .2s;
                        &:hover {
                            color: var(--hovered-nav-text-color);
                        }
                    }

                }

                & button {
                    box-sizing: border-box;
                    border: none;
                    outline: none;
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 14px;
                    background-color: var(--main-blue-color);
                    padding: 10px 16px;
                    border-radius: 8px;
                    transition: .3s;
                    cursor: pointer;
                    box-shadow:  0 0 #0000, 0 0 #0000, 0 0 15px rgba(37,117,228,0.3);
                
                    &:hover {
                        background-color: var(--main-muted-blue-color);
                    }

                }

            }

        }

    }


}
/* End navbar section */
/* Start hero section */
.hero {
    /* Start hero main section */
    & .hero-main {
        height: calc(100vh - 61px);
        display: flex;
        justify-content: center;
        align-items: center;

        & .blur {
            width: 600px;
            height: 600px;
            border-radius: 50%;
            background-color: rgb(37 117 228 / 0.1);
            filter: blur(120px);
            z-index: -10;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1, 1);
            pointer-events: none;
            -webkit-font-smoothing: antialiased; 
        }

        & .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            text-align: center;
            max-height: 360px;
            max-width: 670px;
            padding: 0 10px;

            & .states {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #1C293B;
                border: 1px var(--border-color) solid;
                border-radius: 18px;
                padding: 5px 10px;
                margin-bottom: -20px;
                letter-spacing: .6px;

                & span.dot {
                    display: inline-block;
                    background-color: #2575C8;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 10px;
                    animation: off 2s infinite;
                }

                & p {
                    color: #2575C8;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 12px;
                }

            }

            & .main-title {
                & h1 {
                    font-size: 72px;
                    font-weight: 900;
                    line-height: 1;
                    letter-spacing: -1px;
                    background-image: linear-gradient(to bottom, #fafafa , #a8aeb8);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;

                    & span {
                        display: block;
                    }

                }
            }

            & .sub-title {
                font-size: 20px;
                color: #94A9C7;
                margin-top: -20px;
                margin-bottom: 45px;
                line-height: 1.4;
                letter-spacing: px;
            }

            & .buttons {
                display: flex;
                align-items: center;
                
                & :where(.work, .cv) {
                    color: white;
                    font-weight: 600;
                    padding: 14px 28px;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    letter-spacing: 0.3;
                    cursor: pointer;
                    transition: .3s;
                }

                & button.work {
                    margin-right: 22px;
                    background-color: var(--main-blue-color);
                    box-shadow:  0 0 #0000, 0 0 #0000, 0 0 15px rgba(37,117,228,0.3);

                     &:hover {
                        background-color: var(--main-muted-blue-color);
                    }

                }

                & button.cv {
                    background-color: #253346;
                    padding-right: 24px;
                    padding-left: 24px;

                    &:hover {
                        background-color: rgb(50 67 91 / 1);
                    }

                }

            }

        }

    }
    /* End hero main section */
}
@media (max-width: 767px) {
    header nav {
        padding: 12px 20px;
    }
    header nav .container i.bars {
        display: block ;
    }
    header nav .container div.side-links {
        display: none;
    }
    .hero .hero-main .content .main-title h1 {
        font-size: 48px;
    }
    .hero .hero-main .content .sub-title {
        font-size: 18px;
        margin: 0 0 30px 0;
    }
    .hero .hero-main .content .states {
        margin: 0;
    }
}
@media (max-width: 355px) {
    .hero .hero-main .content .buttons {
        flex-direction: column;
        gap: 12px;
    }
    .hero .hero-main .content .buttons button.work {
        margin-right: 0;
    }
}
/* End hero section */
/* Start featured projects section */
.featured-projects {
    
    & .container {
        margin: 0 auto;
        padding: 72px 0;

        & .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-bottom: 25px;
            border-bottom: 1px var(--border-color) solid;

            & .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;

                & h2 {
                    color: white;
                    font-size: 30px;
                    margin-bottom: 15px;
                }

                & p {
                    color: #94A9C7;
                    font-size: 16px;
                }

            }

            & a {
                color: rgb(37 117 228);
                font-size: 14px;
                transition: .2s;

                &:hover {
                    color: white;
                }

            }

        }

        & .projects-cards {
            padding: 40px 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;

            & .project-card {
                background-color: rgb(26 36 50);
                border: 1px var(--border-color) solid;
                border-radius: 8px;
                overflow: hidden;
                transition: .3s;

                &:hover {
                    border-color: rgb(37 117 228 / 0.5);
                    box-sizing: 0 0 #0000, 0 0 #0000, 0 0 30px rgba(0,0,0,0.2);

                    & .image {
                        transform: scale(1.05);
                    }
                    & .image .black {
                        background-color: transparent;
                    }

                }

                & .image {
                    width: 100%;
                    height: 220px;
                    background-position: center;
                    background-size: cover;
                    transition: .3s;

                    & .black {
                        width: 100%;
                        height: 100%;
                        background-color: rgb(0 0 0 / 0.2);
                        transition: .3s;
                    }

                }

                & .first {
                    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuCWEkBfvabxQ1nSDReeSQ4NrNs7dPZbQGlagWUIRpPknlPJbQ_zQDM8sWlF6-at6bvxIcafLRSEFJbzRXNf4DL_1HispoDPplQABXRX-MP3n53_ZOKH4vmOhmbVxZ-pGbv_31auv0Bk7uQAB3e1yGQoqmFQlesPwDF0FqIsEba4t82xQgLsOyMAGwm-dwlfc6YLZeEIul1skD-dPQxu-zCGuZMEh2GeIrFffn31u5C85QEaYgUthZqxRH3CMogRc19wFCZWa73fR-rF);
                }
                & .second {
                    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuA3f8vb_LuefN51WCSdqkjrebv7NwrINRtMUJzM_XNzdcb0d4nAtWxULkfX47KJW3Qf-_fHdhOdPjVuQXqvzcNGHR1zgZkXZHPc5bSJgExEGLfWqeEgLOJA0yOu_Iu4K4tyYQxI08fCEvmlitFb1puroq6_yTj2pDs2-rdnhCZDkZj70z31C6qOBocTyUWGwKgkpMqJgITjog_SM_sARQFQYJQ9pmafU_kcVYBaohAlpbeX4Bo8CTEkOCjjFUi4yGIycDwUQft09KB4);
                }
                & .third {
                    background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuAs6X116tjxICu16HeQOJoDpaDWk0Mk_IcO3Ge7F5c5pWa2fnAl_qzAe8p-Gv2sKRQ2RVOLlK-EGRKyQYZ-mo9laF-_3Zj4b_hJQ82AP_AQKdRfOZSdKLhdXDvpTWDqbguWi-8kqRE2oSusfDOu3p8qNEgFqmAlsnzsJnRMxeZHgo0cCzh1opgMuPPHwXgoho2LhxTvtrhv-DcCcEiQYKqQBGCcVkMk9e4jHaYglBWL7p5PKP__qyJ2THc2-mW-1hJKHwZ4c32BUw92    );
                }

                & .details {
                    padding: 25px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;

                    & .title {
                        font-weight: 700;
                        color: white;
                        margin-bottom: 10px;
                        font-size: 20px;
                    }
                    & .description {
                        color: #94A9C7;
                        font-size: 14px;
                        line-height: 1.6;
                        margin-bottom: 15px;
                    }
                    & .tags {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: white;
                        font-size: 12px;

                        & .tag {
                            background-color: rgb(37 51 70);
                            padding: 4px 10px;
                            border-radius: 6px;
                            margin-right: 10px;
                            font-weight: 500;
                        }

                    }

                }

            }

        }

    }
}
@media (max-width: 1125px) {
    .featured-projects .container {
        padding: 72px 36px;
    }
}
@media (max-width: 767px) {
    .featured-projects .container {
        padding: 72px 20px;
    }
    .featured-projects .container .header a {
        display: none;
    }
}
/* End featured projects section */
/* Start animations */
@keyframes off {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}
/* End animations */