/* ============================================ */
/* ============ Start Global Rules ============ */
/* ============================================ */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --muted-text-color: #64748B;
    --border-color: rgb(37 51 70 / 1);
    --nav-text-color: #94A3B8;
    --hovered-nav-text-color:#F8FAFC;
    --main-blue-color: #2575E4;
    --main-muted-blue-color: #1A5BB5;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: #111821;
}
/* Start container */
.container {
    margin: 0 auto;
    width: 1170px;
}
/* End container */
li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* ============================================ */
/* ============= End Global Rules ============= */
/* ============================================ */

/* Start hero section */
.hero {

    /* Start navbar */
    & nav {
        width: 100%;
        height: 61px;
        padding: 12px 40px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(17 24 33 / 0.8);
        backdrop-filter: blur(12px);
        border-bottom: 1px var(--border-color) solid;
        display: flex;
        align-items: center;

        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & h2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;
                font-size: 18px;
                font-weight: bold;

                & i.terminal {
                    font-size: 18px;
                    color: var(--main-blue-color); 
                    margin-right: 20px;
                }

            }
            
            & i.bars {
                display: none;
                font-size: 20px;
                color: white;
            }
            
            & div {
                display: flex;
                justify-content: space-around;
                align-items: center;
                min-width: 250px;

                & ul.links {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 26px;
                    margin-right: 25px;

                    & li a {
                        color: var(--nav-text-color);
                        font-size: 14px;
                        font-weight: 500;
                        transition: .2s;
                        &:hover {
                            color: var(--hovered-nav-text-color);
                        }
                    }

                }

                & button {
                    box-sizing: border-box;
                    border: none;
                    outline: none;
                    color: white;
                    font-weight: bold;
                    font-size: 14px;
                    background-color: var(--main-blue-color);
                    padding: 10px 14px;
                    border-radius: 8px;
                    transition: .3s;
                    cursor: pointer;
                    box-shadow:  0 0 #0000, 0 0 #0000, 0 0 15px rgba(37,117,228,0.3);
                
                    &:hover {
                        background-color: var(--main-muted-blue-color);
                    }

                }

            }

        }

    }
    /* End navbar */

    & .hero-main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        & .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            text-align: center;
            max-height: 360px;
            max-width: 670px;

            & .states {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #1C293B;
                border: 1px var(--border-color) solid;
                border-radius: 18px;
                padding: 5px 10px;

                & span.dot {
                    display: inline-block;
                    background-color: #2575C8;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 10px;
                    animation: off 2s infinite;
                }

                & p {
                    color: #2575C8;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 12px;
                }

            }

        }

    }
}
@media (max-width: 767px) {
    .hero nav {
        padding: 12px 20px;
    }
    .hero nav .container i.bars {
        display: block ;
    }
    .hero nav .container div.side-links {
        display: none;
    }
}
/* End hero section */
/* Start animations */
@keyframes off {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
}
/* End animations */